.container {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 5em 0;
}

.content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 2em;
    background-color: var(--grayscale-100);
    border: 1px solid var(--grayscale-300);
    border-radius: 1em;
    padding: 2em;
}

