.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grayscale-100);
    box-shadow: 0 -1px 0 var(--grayscale-300);
    padding: 2em 0;
    margin-top: 10em;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.content h3 {
    color: var(--grayscale-600);
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}

.links i {
    font-size: 2em;
    color: var(--grayscale-600);
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column-reverse;
        gap: 1em;
    }

    .links {
        justify-content: center;
    }
}
